<h1>이번주의 할 일</h1>
<a href="/home/new">글쓰러가기</a><br>
---------------------------------------------<br>

<%=@posts.each { |x|%>
<%=x.id %> 번 게시물<br>
제목 <%=x.title%> <br>
내용 <%=x.content%> <br>
<a href= "home/show/<%=x.id%>"> 들여다보기</a>
<a href="home/destroy/<%=x.id%>"> 파괴</a>
<a href="home/edit/<%=x.id%>"> 수정</a><br>
--------------------------------------------<br>
<%}%>


